body {
  font-family: "Poppins", sans-serif;

  background-color: rgba(128, 128, 128, 0.408);
}

.data {
  width: 800px;
  margin: 50px auto;
  padding: 0px;
  border-radius: 10px;
  color: white;
}

header {
  background: url("/gabz.jpg");
  background-size: cover;
  filter: grayscale(100%);
  border-radius: 10px;
  height: 470px;
  text-align: center;
}

header h2 {
  padding-top: 100px;
  font-size: 26px;
}

header h1 {
  font-size: 66px;
  text-transform: uppercase;
}

header h3 {
  font-size: 20px;
  margin-bottom: 70px;
}

article {
  width: 800px;
  margin: 10px auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 991px) {
  article {
    width: 720px;
  }

  .container {
    padding: 0;
  }

  header h1 {
    font-size: 60px;
  }
  .about-header {
    text-align: center;
  }
}

@media (max-width: 800px) {
  header h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  header h1 {
    font-size: 45px;
  }

  article {
    width: 540px;
    text-align: left;
  }
}

@media (max-width: 575px) {
  .data {
    width: 540px;
  }
}

.about-header {
  margin: 100px auto;
}

.about-header h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-header h2 {
  font-size: 20px;
}
