body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.408);
  color: white;
}

.data {
  width: 900px;
  background-color: white;
  margin: 50px auto;
  padding: 0px;
  border-radius: 10px;
}

header {
  background: url("/gabz.jpg");
  background-size: 900px;
  filter: grayscale(100%);
  padding-bottom: 100px;
  border-radius: 10px;
}

h2 {
  padding-top: 145px;
  font-size: 26px;
}

h1 {
  font-size: 66px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

.social {
  text-align: right;
}
